.header-wrapper {
  background-color: white;
  padding: 5px 0px;
  position: fixed;
  /* position: 요소를 겹치게 배열 가능.
    z-index: 숫자가 클 수록 위로 올라오고
            숫자가 작을 수록 아래로 내려감.*/
  z-index: 2;
  top: 0px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.chats-body {
  padding: 10px 0 0 0;
  padding-top: 100px;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chats-body {
  background-image: url("../images/chatbg.jpg")
  min-height: 110vh;
}

.chat-screen .chat__messages {
  border-top: 1pc solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;

}

.message .message__bubble {
  display: block;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.24) 0px -6px 16px -6px;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 10px;
}

.incoming-message {
  align-self: flex-start;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  /* linear-gradient(선형그레디언트):그라데이션
   to top, to bottom, to left, to right  */
  background-image: linear-gradient(to right, #36d1dc, #5b86e5);
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #36d1dc, #5b86e5)
}

.sent-message {
  align-self: flex-end;
}

@keyframes spin {
  fron {
    troansform: none;

  }

  to {
    transform: rotate(1turn);
  }
}

.incoming-message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  animation: spin 1s linear infinite;
}

.incoming-message .message__author {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 15px;

}

.chat__write--container {
  position: fixed;
  width: 100%;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.chat__icon-left {
  position: absolute;
  left: 10px;

}

.chat__icon-right {
  position: absolute;
  left: 10px;
}

@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }

  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }

  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  bottom: 0px;
}
.chat__write:focus {

}

.chat__write:focus ~ .chat__icon {

}

.chat__icon {

}

.chat__write:focus .chat__write i {

}

.chat__write-column:nth-child(2) {

}

@keyframes incomingAnimation {

}

.incoming-message {
  animation: incomingAnimation 0.5s ease-out forwards;
}

@keyframes sentAnimation {

  }
}

.sent-message {
  animation: sentAnimation 0.5s ease-out forwards;
}
